<%= form_with(model: item, class: "group", id: dom_id(item)) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-center gap-4 my-4">
    <div class="flex-grow">
      <%= form.text_field :title, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full" %>
    </div>

    <div class="flex-shrink-0">
      <%= form.button type: :submit, class: "rounded-lg py-2 px-3 bg-blue-600 text-white font-medium cursor-pointer" do %>
        <span class="group-aria-busy:hidden">Add</span>
        <svg class="hidden group-aria-busy:block motion-reduce:hidden animate-spin h-6 w-6 text-white" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      <% end %>
    </div>
  </div>
<% end %>
