<%= form_with(model: item, class: "contents") do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-center gap-4 my-4">
    <div class="flex-grow">
      <%= form.text_field :title, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full" %>
    </div>

    <div class="flex-shrink-0">
      <%= form.submit "Add", class: "rounded-lg py-2 px-3 bg-blue-600 text-white font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
